<section class="team-section section-padding section-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-header text-center">
          <h2 class="section-title">Our Management Team</h2>
          <p>
            Our team of creative programmers, marketing experts, and
            members of the global lottery community have worked together
            to build the ultimate lottery site, and every win and happy
            customer reminds us how lucky we are to be doing what we love.
          </p>
        </div>
      </div>
    </div>
    <div class="row m-bottom-not-30">
      <div class="col-lg-3 col-sm-6" style="visibility: hidden">
        <div class="team-single text-center">
          <div class="thumb">
            <img src="assets/images/team/1.png" alt="team-image" />
            <ul class="team-social-link d-flex justify-content-center">
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="content">
            <h3 class="name">Person Two</h3>
            <span class="designation">Co-Founder & CEO</span>
          </div>
        </div>
      </div>
      <!-- team-single end -->
      <div class="col-lg-3 col-sm-6">
        <div class="team-single text-center">
          <div class="thumb">
            <img src="assets/images/team/2.png" alt="team-image" />
            <ul class="team-social-link d-flex justify-content-center">
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="content">
            <h3 class="name">Person One</h3>
            <span class="designation">Co-Founder & CEO</span>
          </div>
        </div>
      </div>
      <!-- team-single end -->
      <div class="col-lg-3 col-sm-6">
        <div class="team-single text-center">
          <div class="thumb">
            <img src="assets/images/team/3.png" alt="team-image" />
            <ul class="team-social-link d-flex justify-content-center">
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="content">
            <h3 class="name">Person Two</h3>
            <span class="designation">Co-Founder & CTO</span>
          </div>
        </div>
      </div>
      <!-- team-single end -->
      <!-- <div class="col-lg-3 col-sm-6">
        <div class="team-single text-center">
          <div class="thumb">
            <img src="assets/images/team/4.png" alt="team-image" />
            <ul class="team-social-link d-flex justify-content-center">
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="content">
            <h3 class="name">Alexis Brady</h3>
            <span class="designation">Financial Adviser</span>
          </div>
        </div>
      </div> -->
      <!-- team-single end -->
    </div>
  </div>
</section>
