<div class="header-top">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-md-6">
        <div class="header-top-left d-flex">
          <div class="language-part">
            <i class="fa fa-globe"></i>
            <select>
              <option>Eng</option>
              <option>Ban</option>
              <option>Rus</option>
              <option>Arb</option>
            </select>
          </div>
          <div class="support-part">
            <a href="tel:+88016558888454"><i class="fa fa-headphones"></i>Support</a>
          </div>
          <div class="email-part">
            <a href="http://pixner.net/cdn-cgi/l/email-protection#b9d0d7dfd6f9cad6cbcddcd697dad6d4"><i
                class="fa fa-envelope"></i><span class="__cf_email__"
                data-cfemail="066f686069467569747263692865696b">support@ecobet.com</span></a>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-4">
        <div class="header-top-right">
          <div class="header-cart-count">
            <i class="fa fa-shopping-cart"></i>
            <span>My cart (0)</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
