<app-lottery-results></app-lottery-results>
<section class="banner-section">
  <div class="banner-elements-part has_bg_image active" style="background-image: url(assets/images/banner-net.png);">
    <div class="element-one">
      <img src="assets/images/elements/box.png" alt="vector-image" />
    </div>

    <div class="element-two">
      <img src="assets/images/elements/car.png" alt="vector-image" />
    </div>

    <div class="element-three">
      <img src="assets/images/elements/chart.png" alt="vector-image" />
    </div>

    <div class="element-four">
      <img src="assets/images/elements/dollars.png" alt="vector-image" />
    </div>

    <div class="element-five">
      <img src="assets/images/elements/laptop.png" alt="vector-image" />
    </div>

    <div class="element-six">
      <img src="assets/images/elements/money-2.png" alt="vector-image" />
    </div>

    <div class="element-seven">
      <img src="assets/images/elements/person.png" alt="vector-image" />
    </div>

    <div class="element-eight">
      <img src="assets/images/elements/person-2.png" alt="vector-image" />
    </div>

    <div class="element-nine">
      <img src="assets/images/elements/power.png" alt="vector-image" />
    </div>
  </div>
  <div class="banner-content-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="banner-content">
            <h1 class="title">
              Play Ecobet! <br />Your chance to win instant cash
            </h1>
            <p>
              Ecobet is an online lottery platform inspired by a some
              great minds for the ultimate lottery platfrom.
            </p>
            <a href="#0" class="cmn-btn">Play now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lottery-timer-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-5">
        <div class="timer-content">
          <h3 class="title">Buy Lottery Tickets Today</h3>
          <p>
            Buy lottery tickets online to the biggest lotteries in the
            world offering huge jackpot prizes that you can win when you
            play online lottery.
          </p>
        </div>
      </div>
      <div class="col-xl-5 text-center">
        <div class="timer-part">
          <div class="clock"></div>
        </div>
      </div>
      <div class="col-xl-2">
        <div class="link-area text-center">
          <a href="#0" class="border-btn">Buy Your tickets now</a>
          <a href="#0" class="text-btn">terms and conditions</a>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="choose-us-section section-padding">
  <div class="choose-us-image">
    <img src="assets/images/elements/mouse.png" alt="image" />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-header text-center">
          <h2 class="section-title">Why Choose Us?</h2>
          <p>
            Ecobet makes playing the world's largest lotteries easy and
            fun.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="row mt-mb-15">
          <div class="col-lg-4 col-sm-6">
            <div class="choose-item text-center">
              <div class="front">
                <div class="icon">
                  <img src="assets/images/svg-icons/choose-us-icons/1.svg" alt="icon" />
                </div>
                <h4 class="title">Biggest lottery jackpots</h4>
              </div>
              <div class="back">
                <p>
                  One of the core advantages of playing an online lotto is
                  that it is both safe and secure. So, there is no need
                  for you to queue, or visit a retail store, to get
                  tickets.
                </p>
              </div>
            </div>
          </div>
          <!-- choose-item end -->
          <div class="col-lg-4 col-sm-6">
            <div class="choose-item text-center">
              <div class="front">
                <div class="icon">
                  <img src="assets/images/svg-icons/choose-us-icons/2.svg" alt="icon" />
                </div>
                <h4 class="title">No commission on Winnings</h4>
              </div>
              <div class="back">
                <p>
                  One of the core advantages of playing an online lotto is
                  that it is both safe and secure. So, there is no need
                  for you to queue, or visit a retail store, to get
                  tickets.
                </p>
              </div>
            </div>
          </div>
          <!-- choose-item end -->
          <div class="col-lg-4 col-sm-6">
            <div class="choose-item text-center">
              <div class="front">
                <div class="icon">
                  <img src="assets/images/svg-icons/choose-us-icons/3.svg" alt="icon" />
                </div>
                <h4 class="title">Safe and Secure Playing</h4>
              </div>
              <div class="back">
                <p>
                  One of the core advantages of playing an online lotto is
                  that it is both safe and secure. So, there is no need
                  for you to queue, or visit a retail store, to get
                  tickets.
                </p>
              </div>
            </div>
          </div>
          <!-- choose-item end -->
          <div class="col-lg-4 col-sm-6">
            <div class="choose-item text-center">
              <div class="front">
                <div class="icon">
                  <img src="assets/images/svg-icons/choose-us-icons/4.svg" alt="icon" />
                </div>
                <h4 class="title">Instant payout system</h4>
              </div>
              <div class="back">
                <p>
                  One of the core advantages of playing an online lotto is
                  that it is both safe and secure. So, there is no need
                  for you to queue, or visit a retail store, to get
                  tickets.
                </p>
              </div>
            </div>
          </div>
          <!-- choose-item end -->
          <div class="col-lg-4 col-sm-6">
            <div class="choose-item text-center">
              <div class="front">
                <div class="icon">
                  <img src="assets/images/svg-icons/choose-us-icons/5.svg" alt="icon" />
                </div>
                <h4 class="title">Performance Bonuses</h4>
              </div>
              <div class="back">
                <p>
                  One of the core advantages of playing an online lotto is
                  that it is both safe and secure. So, there is no need
                  for you to queue, or visit a retail store, to get
                  tickets.
                </p>
              </div>
            </div>
          </div>
          <!-- choose-item end -->
          <div class="col-lg-4 col-sm-6">
            <div class="choose-item text-center">
              <div class="front">
                <div class="icon">
                  <img src="assets/images/svg-icons/choose-us-icons/6.svg" alt="icon" />
                </div>
                <h4 class="title">Dedicated Support</h4>
              </div>
              <div class="back">
                <p>
                  One of the core advantages of playing an online lotto is
                  that it is both safe and secure. So, there is no need
                  for you to queue, or visit a retail store, to get
                  tickets.
                </p>
              </div>
            </div>
          </div>
          <!-- choose-item end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- choose-us-section end -->

<!-- work-steps-section strat -->
<section class="work-steps-section section-padding border-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-header text-center">
          <h2 class="section-title">how it works</h2>
          <p>
            Ecobet is the best way to play these exciting lotteries from
            anywhere in the world.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="work-steps-items-part d-flex">
          <div class="line">
            <img src="assets/images/elements/line.png" alt="line-image" />
          </div>
          <div class="work-steps-item">
            <div class="work-steps-item-inner">
              <div class="icon">
                <img src="assets/images/svg-icons/how-work-icons/1.svg" alt="icon" />
                <span class="count-num">01</span>
              </div>
              <h4 class="title">choose</h4>
              <p>Choose your lottery & pick your numbers</p>
            </div>
          </div>
          <!-- work-steps-item end -->
          <div class="work-steps-item">
            <div class="work-steps-item-inner">
              <div class="icon">
                <img src="assets/images/svg-icons/how-work-icons/2.svg" alt="icon" />
                <span class="count-num">02</span>
              </div>
              <h4 class="title">buy</h4>
              <p>Complete your purchase</p>
            </div>
          </div>
          <!-- work-steps-item end -->
          <div class="work-steps-item">
            <div class="work-steps-item-inner">
              <div class="icon">
                <img src="assets/images/svg-icons/how-work-icons/3.svg" alt="icon" />
                <span class="count-num">01</span>
              </div>
              <h4 class="title">win</h4>
              <p>Start dreaming, you're almost there</p>
            </div>
          </div>
          <!-- work-steps-item end -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="work-steps-thumb-part">
          <img src="assets/images/elements/step.png" alt="work-step-image" />
          <a href="https://www.youtube.com/embed/aFYlAzQHnY4" data-rel="lightcase:myCollection" class="play-btn"><i
              class="fa fa-play"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- work-steps-section strat -->

<!-- online-ticket-section start -->
<section class="online-ticket-section section-padding has_bg_image"
  style="background-image: url(assets/images/dark-bg-two.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-header text-center">
          <h2 class="section-title">Buy Lottery Tickets Online</h2>
          <p>
            Play the lottery online safely and securely at theLotter, the
            leading lottery ticket purchasing service in the world
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="online-ticket-table-part">
          <div class="online-ticket-table">
            <h3 class="block-title">
              Select your winning lottery numbers
            </h3>
            <div class="online-ticket-table-wrapper">
              <table>
                <thead>
                  <tr>
                    <th class="name">lottery</th>
                    <th class="jackpot">jackpot</th>
                    <th class="price">price</th>
                    <th class="draw-time">time to draw</th>
                    <th class="sold-num">sold</th>
                    <th class="status">status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="winner-details">
                        <img src="assets/images/flag/1.jpg" alt="flag" /><span class="winner-name">6 Wheels &
                          Board</span>
                      </div>
                    </td>
                    <td>
                      <span class="jackpot-price">$ 53,000,000</span>
                    </td>
                    <td>
                      <span class="price">$3.9</span>
                    </td>
                    <td>
                      <div class="draw-timer"></div>
                    </td>
                    <td>
                      <div class="progressbar" data-perc="50%">
                        <div class="bar"></div>
                        <span class="label">50</span>
                      </div>
                    </td>
                    <td>
                      <a href="#" class="cmn-btn">buy ticket</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="winner-details">
                        <img src="assets/images/flag/2.jpg" alt="flag" /><span class="winner-name">4 Odd
                          Powerballs</span>
                      </div>
                    </td>
                    <td>
                      <span class="jackpot-price">$ 53,000,000</span>
                    </td>
                    <td>
                      <span class="price">$3.9</span>
                    </td>
                    <td>
                      <div class="draw-timer"></div>
                    </td>
                    <td>
                      <div class="progressbar" data-perc="50%">
                        <div class="bar"></div>
                        <span class="label">50</span>
                      </div>
                    </td>
                    <td>
                      <a href="#" class="cmn-btn">buy ticket</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <a href="#" class="text-btn">view all lotteries</a>
      </div>
    </div>
  </div>
</section>
<!-- online-ticket-section end -->

<!-- affiliate-section start -->
<section class="affiliate-section section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-header text-center">
          <h2 class="section-title">Affiliate Programs</h2>
          <p>
            Tell A Friend is our unique lottery friends promotion club
            that enables you to earn amazing bonus money rewards for
            inviting friends to play the world’s biggest jackpots!
          </p>
        </div>
      </div>
    </div>
    <div class="row m-bottom-not-30">
      <div class="col-lg-3 col-sm-6">
        <div class="affiliate-item text-center">
          <div class="icon">
            <div class="icon-inner">
              <img src="assets/images/svg-icons/affiliate-icons/1.svg" alt="icon" />
            </div>
          </div>
          <div class="content">
            <h4 class="title">High Revenues</h4>
            <p>
              We offer the best commissions in the market and provide
              proven.
            </p>
          </div>
        </div>
      </div>
      <!-- affiliate-item end -->
      <div class="col-lg-3 col-sm-6">
        <div class="affiliate-item text-center">
          <div class="icon">
            <div class="icon-inner">
              <img src="assets/images/svg-icons/affiliate-icons/4.svg" alt="icon" />
            </div>
          </div>
          <div class="content">
            <h4 class="title">Reliable Payments</h4>
            <p>
              Payments are made monthly via a variety of payment methods.
            </p>
          </div>
        </div>
      </div>
      <!-- affiliate-item end -->
      <div class="col-lg-3 col-sm-6">
        <div class="affiliate-item text-center">
          <div class="icon">
            <div class="icon-inner">
              <img src="assets/images/svg-icons/affiliate-icons/2.svg" alt="icon" />
            </div>
          </div>
          <div class="content">
            <h4 class="title">Unlimited Affiliates</h4>
            <p>
              Thee is no limit for your number of affiliates and no
              earning limit.
            </p>
          </div>
        </div>
      </div>
      <!-- affiliate-item end -->
      <div class="col-lg-3 col-sm-6">
        <div class="affiliate-item text-center">
          <div class="icon">
            <div class="icon-inner">
              <img src="assets/images/svg-icons/affiliate-icons/3.svg" alt="icon" />
            </div>
          </div>
          <div class="content">
            <h4 class="title">Dedicated Support</h4>
            <p>
              Our dedicated technical support team works with you to
              understand and identify
            </p>
          </div>
        </div>
      </div>
      <!-- affiliate-item end -->
    </div>
  </div>
</section>
<!-- affiliate-section end -->

<!-- payment-method-section start -->
<section class="payment-method-section section-padding border-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-header text-center">
          <h2 class="section-title">Payment Method</h2>
          <p>
            Buy international lottery tickets online using any of the
            payment methods available on Ecobet. Play now and win big!
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="payment-method-area d-flex">
          <div class="payment-item">
            <a href="#0"><img src="assets/images/payment-methods/1.jpg" alt="payment-method-image" /></a>
          </div>
          <!-- payment-item end -->
          <div class="payment-item">
            <a href="#0"><img src="assets/images/payment-methods/2.jpg" alt="payment-method-image" /></a>
          </div>
          <!-- payment-item end -->
          <div class="payment-item">
            <a href="#0"><img src="assets/images/payment-methods/3.jpg" alt="payment-method-image" /></a>
          </div>
          <!-- payment-item end -->
          <div class="payment-item">
            <a href="#0"><img src="assets/images/payment-methods/4.jpg" alt="payment-method-image" /></a>
          </div>
          <!-- payment-item end -->
          <div class="payment-item">
            <a href="#0"><img src="assets/images/payment-methods/5.jpg" alt="payment-method-image" /></a>
          </div>
          <!-- payment-item end -->
          <div class="payment-item">
            <a href="#0"><img src="assets/images/payment-methods/6.jpg" alt="payment-method-image" /></a>
          </div>
          <!-- payment-item end -->
        </div>
      </div>
      <div class="col-lg-12">
        <div class="commission-area d-flex align-items-center">
          <div class="title-area">
            <h3 class="title">Referral commission</h3>
          </div>
          <div class="commission-items-wrapper d-flex align-items-center">
            <div class="commission-items d-flex align-items-center">
              <div class="icon">
                <img src="assets/images/payment-methods/cm1.png" alt="image" />
              </div>
              <div class="content">
                <span class="percentage">10%</span>
                <p>1st Level</p>
              </div>
            </div>
            <!-- commission-items end -->
            <div class="commission-items d-flex align-items-center">
              <div class="icon">
                <img src="assets/images/payment-methods/cm2.png" alt="image" />
              </div>
              <div class="content">
                <span class="percentage">05%</span>
                <p>2nd Level</p>
              </div>
            </div>
            <!-- commission-items end -->
            <div class="commission-items d-flex align-items-center">
              <div class="icon">
                <img src="assets/images/payment-methods/cm3.png" alt="image" />
              </div>
              <div class="content">
                <span class="percentage">03%</span>
                <p>3rd Level</p>
              </div>
            </div>
            <!-- commission-items end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- payment-method-section end -->

<!-- active-user-section start -->
<section class="active-user-section section-padding section-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-header text-center">
          <h2 class="section-title">Our Users Around The World</h2>
          <p>
            Over the years we have provided millions of players with
            tickets to lotteries across the globe and enjoyed having more
            than one million winners
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="vmap">
          <div class="position-1">
            <span class="dot"></span>
            <div class="details">
              <h6 class="name">Gaylen Hylen</h6>
              <p class="area">From: Argentina</p>
            </div>
          </div>
          <div class="position-2">
            <span class="dot"></span>
            <div class="details">
              <h6 class="name">Gaylen Hylen</h6>
              <p class="area">From: Argentina</p>
            </div>
          </div>
          <div class="position-3">
            <span class="dot"></span>
            <div class="details">
              <h6 class="name">Gaylen Hylen</h6>
              <p class="area">From: Argentina</p>
            </div>
          </div>
          <div class="position-4">
            <span class="dot"></span>
            <div class="details">
              <h6 class="name">Gaylen Hylen</h6>
              <p class="area">From: Argentina</p>
            </div>
          </div>
          <div class="position-5">
            <span class="dot"></span>
            <div class="details">
              <h6 class="name">Gaylen Hylen</h6>
              <p class="area">From: Argentina</p>
            </div>
          </div>
          <div class="position-6">
            <span class="dot"></span>
            <div class="details">
              <h6 class="name">Gaylen Hylen</h6>
              <p class="area">From: Argentina</p>
            </div>
          </div>
          <div class="position-7">
            <span class="dot"></span>
            <div class="details">
              <h6 class="name">Gaylen Hylen</h6>
              <p class="area">From: Argentina</p>
            </div>
          </div>
          <div class="position-8">
            <span class="dot"></span>
            <div class="details">
              <h6 class="name">Gaylen Hylen</h6>
              <p class="area">From: Argentina</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="active-item text-center">
          <span class="amount">3 M</span>
          <p>Registered players</p>
        </div>
      </div>
      <!-- active-item end -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="active-item text-center">
          <span class="amount">$ 1.9 BN</span>
          <p>Total in placed bets</p>
        </div>
      </div>
      <!-- active-item end -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="active-item text-center">
          <span class="amount">$ 550 M</span>
          <p>Total in payouts</p>
        </div>
      </div>
      <!-- active-item end -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="active-item text-center">
          <span class="amount">$ 44 M</span>
          <p>Biggest ever pay-out</p>
        </div>
      </div>
      <!-- active-item end -->
      <div class="col-lg-12 text-center">
        <a href="#0" class="cmn-btn">join with us</a>
      </div>
    </div>
  </div>
</section>
<!-- active-user-section end -->

<!-- testimonial-section start -->
<app-testimonials></app-testimonials>
<!-- testimonial-section end -->

<!-- team-section start -->
<app-teams></app-teams>
<!-- team-section end -->

<!-- contact-section start -->
<app-contact-us></app-contact-us>
<!-- contact-section end -->

<!-- brand-section start -->
<div class="brand-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="brand-slider">
          <div class="single-slide">
            <div class="slide-inner">
              <img src="assets/images/brand/w-1.png" alt="image" />
            </div>
          </div>
          <!-- single-slide end -->
          <div class="single-slide">
            <div class="slide-inner">
              <img src="assets/images/brand/w-2.png" alt="image" />
            </div>
          </div>
          <!-- single-slide end -->
          <div class="single-slide">
            <div class="slide-inner">
              <img src="assets/images/brand/w-3.png" alt="image" />
            </div>
          </div>
          <!-- single-slide end -->
          <div class="single-slide">
            <div class="slide-inner">
              <img src="assets/images/brand/w-4.png" alt="image" />
            </div>
          </div>
          <!-- single-slide end -->
          <div class="single-slide">
            <div class="slide-inner">
              <img src="assets/images/brand/w-5.png" alt="image" />
            </div>
          </div>
          <!-- single-slide end -->
          <div class="single-slide">
            <div class="slide-inner">
              <img src="assets/images/brand/w-3.png" alt="image" />
            </div>
          </div>
          <!-- single-slide end -->
          <div class="single-slide">
            <div class="slide-inner">
              <img src="assets/images/brand/w-4.png" alt="image" />
            </div>
          </div>
          <!-- single-slide end -->
          <div class="single-slide">
            <div class="slide-inner">
              <img src="assets/images/brand/w-5.png" alt="image" />
            </div>
          </div>
          <!-- single-slide end -->
        </div>
      </div>
    </div>
  </div>
</div>
