<section class="testimonial-section section-padding">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <div class="testimonial-content">
          <h5 class="sub-title">What is said about us</h5>
          <h2 class="title">Testimonials from winners</h2>
          <div class="total-ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <span class="ratings-count-num">3.4M Reviews</span>
          </div>
          <p>
            With over 12 years of experience as the world’s leading online
            lottery service provider, Ecobet has catered to over a million
            users. Find out what our members have to say about us!
          </p>
          <div class="testimonial-slider-arrows d-flex">
            <div class="button-next">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </div>
            <div class="button-prev">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="testimonial-slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-slide">
                <div class="testimonial-slide-header d-flex">
                  <div class="client-thumb">
                    <img src="assets/images/testimonial/1.png" alt="image" />
                  </div>
                  <div class="client-details">
                    <h5 class="name">Albert G.</h5>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span>5.00</span>
                    </div>
                    <p>
                      <span class="place">France</span><span class="date">15th June, 2018</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial-slide-body">
                  <p>
                    I've played with Ecobet for several years and really
                    appreciate the site. All of my wins have been credited
                    to my account. Thanks to the entire team at Ecobet!"
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-slide">
                <div class="testimonial-slide-header d-flex">
                  <div class="client-thumb">
                    <img src="assets/images/testimonial/2.png" alt="image" />
                  </div>
                  <div class="client-details">
                    <h5 class="name">Edward L.</h5>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span>5.00</span>
                    </div>
                    <p>
                      <span class="place">France</span><span class="date">15th June, 2018</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial-slide-body">
                  <p>
                    I've played with Ecobet for several years and really
                    appreciate the site. All of my wins have been credited
                    to my account. Thanks to the entire team at Ecobet!"
                  </p>
                </div>
              </div>
            </div>
            <!--swiper-slide end -->
            <div class="swiper-slide">
              <div class="testimonial-slide">
                <div class="testimonial-slide-header d-flex">
                  <div class="client-thumb">
                    <img src="assets/images/testimonial/1.png" alt="image" />
                  </div>
                  <div class="client-details">
                    <h5 class="name">Albert G.</h5>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span>5.00</span>
                    </div>
                    <p>
                      <span class="place">France</span><span class="date">15th June, 2018</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial-slide-body">
                  <p>
                    I've played with Ecobet for several years and really
                    appreciate the site. All of my wins have been credited
                    to my account. Thanks to the entire team at Ecobet!"
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-slide">
                <div class="testimonial-slide-header d-flex">
                  <div class="client-thumb">
                    <img src="assets/images/testimonial/2.png" alt="image" />
                  </div>
                  <div class="client-details">
                    <h5 class="name">Edward L.</h5>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span>5.00</span>
                    </div>
                    <p>
                      <span class="place">France</span><span class="date">15th June, 2018</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial-slide-body">
                  <p>
                    I've played with Ecobet for several years and really
                    appreciate the site. All of my wins have been credited
                    to my account. Thanks to the entire team at Ecobet!"
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-slide">
                <div class="testimonial-slide-header d-flex">
                  <div class="client-thumb">
                    <img src="assets/images/testimonial/1.png" alt="image" />
                  </div>
                  <div class="client-details">
                    <h5 class="name">Albert G.</h5>
                    <div class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span>5.00</span>
                    </div>
                    <p>
                      <span class="place">France</span><span class="date">15th June, 2018</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial-slide-body">
                  <p>
                    I've played with Ecobet for several years and really
                    appreciate the site. All of my wins have been credited
                    to my account. Thanks to the entire team at Ecobet!"
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
