<form class="login-form cmn-frm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="frm-group">
    <label>Username or Email Address</label>
    <input type="email" formControlName="email" id="login_email" placeholder="Username or Email Address" />
    <i class="fa fa-user"></i>

    <p *ngIf="submitted && formControl.email.errors">
      <span *ngIf="formControl.email.errors.required" class="text-danger">Email is required</span>
      <span *ngIf="formControl.email.errors.email" class="text-danger">Email is required</span>
    </p>
  </div>
  <div class="frm-group">
    <label>Password</label>
    <input type="password" formControlName="password" id="login_pass" placeholder="Enter Password" />
    <i class="fa fa-lock"></i>
    <p *ngIf="submitted && formControl.password.errors">
      <span *ngIf="formControl.password.errors.required" class="text-danger">Password is required</span>
    </p>
  </div>
  <div class="frm-group text-center">
    <input type="submit" id="login_submit" value="Registration" *ngIf="!(loading$ |async)" />
    <ng-container *ngIf="loading$ |async">
      <div class="spinner-border spinner" role="status">
      </div>
    </ng-container>
  </div>

</form>
