  <!--  header-section start  -->
  <header class="header-section">
    <app-topbar></app-topbar>
    <div class="header-bottom">
      <div class="container">
        <nav class="navbar navbar-expand-xl">
          <a class="site-logo site-title" href="index.html"><img style="margin-top: 12px"
              src="assets/images/ecobet_logo.png" alt="site-logo" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav main-menu ml-auto">
              <li><a href="home-two.html">Home</a></li>
              <li><a href="lottery-result%20-%20dark.html">results</a></li>
              <li class="menu_has_children">
                <a href="#0">lotteries</a>
                <ul class="sub-menu">
                  <li>
                    <a href="all-lottery-one%20-%20dark.html">all lotteries One</a>
                  </li>
                  <li>
                    <a href="all-lottery-two%20-%20dark.html">all lotteries Two</a>
                  </li>
                  <li>
                    <a href="all-lottery-three%20-%20dark.html">all lotteries three</a>
                  </li>
                </ul>
              </li>
              <!-- <li class="menu_has_children">
                <a href="#0">blog</a>
                <ul class="sub-menu">
                  <li><a href="blog-one%20-%20dark.html">Blog one</a></li>
                  <li><a href="blog-two%20-%20dark.html">Blog two</a></li>
                  <li>
                    <a href="blog-three%20-%20dark.html">Blog three</a>
                  </li>
                  <li><a href="blog-four%20-%20dark.html">Blog four</a></li>
                  <li>
                    <a href="blog-details%20-%20dark.html">Blog details</a>
                  </li>
                </ul>
              </li> -->
              <li class="menu_has_children">
                <a href="#0">My Account</a>
                <ul class="sub-menu">
                  <li><a href="about-two.html">about us</a></li>
                  <li><a href="affiliate-two.html">affiliate</a></li>
                  <li>
                    <a href="how-to-play%20-%20dark.html">how to play</a>
                  </li>
                  <li>
                    <a href="latest-winner%20-%20dark.html">latest winner</a>
                  </li>
                  <li><a href="faq%20-%20dark.html">faq</a></li>
                  <li><a href="error-404%20-%20dark.html">ERROR-404</a></li>
                </ul>
              </li>
              <li><a href="contact%20-%20dark.html">Login</a></li>
            </ul>
            <div class="header-join-part">
              <button type="button" class="cmn-btn" data-toggle="modal" data-target="#exampleModal">
                BUY TICKET NOW!
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- header-bottom end -->
  </header>
