<div class="modal-body eco-modal p-0">
  <div class="login-registration-area">
    <ul ngbNav #nav="ngbNav" class="nav-tabs nav-tabs-custom nav">
      <li [ngbNavItem]="1" class="nav-item">
        <a ngbNavLink class="nav-link">LOGIN</a>
        <ng-template ngbNavContent>
          <app-login></app-login>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" class="nav-item">
        <a ngbNavLink class="nav-link">REGISTRATION</a>
        <ng-template ngbNavContent>
          <app-registration></app-registration>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>

</div>
