    <form class="registration-form cmn-frm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="frm-group">
        <label>Username or Email Address</label>
        <input type="email" formControlName="email" id="registration_email" placeholder="Username or Email Address" />
        <i class="fa fa-user"></i>

        <p *ngIf="submitted && formControl.email.errors">
          <span *ngIf="formControl.email.errors.required" class="text-danger">Email is required</span>
          <span *ngIf="formControl.email.errors.email" class="text-danger">Email is required</span>
        </p>
      </div>

      <div class="frm-group">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" id="registration_lastname" placeholder="Last Name" />
        <i class="fa fa-user"></i>

        <p class="text-danger" *ngIf="submitted && formControl.lastName.errors">
          <span *ngIf="formControl.lastName.errors.required" class="text-danger">Last Name is required</span>
        </p>
      </div>

      <div class="frm-group">
        <label>First Name</label>
        <input type="text" formControlName="firstName" id="registration_firstname" placeholder="First Name" />
        <i class="fa fa-user"></i>

        <p class="text-danger" *ngIf="submitted && formControl.firstName.errors">
          <span *ngIf="formControl.firstName.errors.required" class="text-danger">First Name is required</span>
        </p>
      </div>

      <div class="frm-group">
        <label>Phone Number</label>
        <input type="text" formControlName="mobileNumber" id="registration_phonenumber" placeholder="Phone Number" />
        <i class="fa fa-user"></i>

        <p class="text-danger" *ngIf="submitted && formControl.mobileNumber.errors">
          <span *ngIf="formControl.mobileNumber.errors.required" class="text-danger">Last Name is required</span>
        </p>
      </div>

      <div class="frm-group mb-2">
        <label>Gender</label>
        <select class="form-control" formControlName="gender" placeholder="Gender">
          <option value="" disabled selected>Select Gender</option>
          <ng-container *ngFor="let item of genders">
            <option [value]="item">{{item}}</option>
          </ng-container>
        </select>
        <i class="fa fa-users gender_select" aria-hidden="true"></i>

        <p class="text-danger" *ngIf="submitted && formControl.gender.errors">
          <span *ngIf="formControl.gender.errors.required" class="text-danger">Gender is required</span>
        </p>
      </div>

      <div class="frm-group">

        <label>Date of Birth</label>
        <input type="text" class="form-control" ngbDatepicker #dateOfBirth="ngbDatepicker"
          (click)="dateOfBirth.toggle()" formControlName="dateOfBirth" placeholder="Date of Birth" />

        <div class="input-group-append">
          <i class="fa fa-calendar"></i>
        </div>

        <p class="text-danger" *ngIf="submitted && formControl.dateOfBirth.errors">
          <span *ngIf="formControl.dateOfBirth.errors.required" class="text-danger">Date of Birth is required</span>
        </p>
      </div>

      <div class="frm-group">
        <label>Password</label>
        <input type="password" formControlName="password" id="registration_pass" placeholder="Enter Password" />
        <i class="fa fa-lock"></i>

        <p class="text-danger" *ngIf="submitted && formControl.password.errors">
          <span *ngIf="formControl.password.errors.required" class="text-danger">Password is required</span>
        </p>
      </div>

      <div class="frm-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirm_password" id="registration_re_pass"
          placeholder="Enter Password" />
        <i class="fa fa-lock"></i>

        <p class="text-danger font-size-14" *ngIf="submitted && formControl.confirm_password.errors">
          <span *ngIf="formControl.confirm_password.errors.confirmPasswordValidator" class="text-danger">
            Password and Confirm Password didn't match.</span>
        </p>
      </div>

      <div class="frm-group text-center">
        <input type="submit" id="registration_submit" value="Registration" *ngIf="!(loading$ |async)" />
        <ng-container *ngIf="loading$ |async">
          <div class="spinner-border spinner" role="status">
          </div>
        </ng-container>
      </div>
    </form>
